.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.mainContainer > h2 {
  font-size: clamp(1rem, 1vw, 1.25rem);
  width: 100%;
}

.mainContainer > p {
  border: 1px solid var(--main-text-color);
  width: 100%;
  padding: 2px;
  height: 1.5rem;
}

/* Changes all flex columns divs into rows */
@media (min-width: 1120px) {
  .mainContainer {
    flex-direction: row;
  }

  .mainContainer > h2 {
    width: 30%;
  }

  .mainContainer > p {
    width: 70%;
  }
}
