.pdfDisplayContainer {
  padding: var(--base-padding);
  width: 80%;
  height: 100%;
  overflow-y: auto;
  display: flex;
}

.onePageView {
  flex-direction: column;
  align-items: center;
}

.twoPageView {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 2%;
}
